@media (min-width:550px) and (max-width:767px){
  body{
    overflow: hidden;
  }  
  .navbar-brand {
        float: left;
        padding: 15px 15px;
        font-size: 80px;
        line-height: 95px;
        font-weight: bold;
        text-shadow: 10px 8px 28px rgb(38 38 206);
      }
  
      .navbar-inverse .navbar-toggle .icon-bar {
        background-color: #9495add4;
      }
  
.navbar-inverse {
    background-color: #222;
    border-color: #080808;
    padding: 20px;
    margin-bottom: 0px;
    position: fixed;
    width: 100%;
    z-index: 1;
    min-height: 145px;
}

      .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
        line-height: 40px;
        font-size:20px;
      }
      .navbar-toggle .icon-bar {
        display: block;
       min-width: 130px;
        min-height: 25px;
        border-radius: 6px;
      }  
  
      .navbar-toggle {
        position: relative;
        float: right;
        padding: 9px 10px;
        margin-right: 0px;
        margin-top: 8px;
        margin-bottom: 8px;
        background-color: transparent;
        background-image: none;
        border: 1px solid transparent;
        border-radius: 4px;
      }

      .navbar-toggle .icon-bar {
        display: block;
      min-width: 60px;
        min-height: 10px;
        border-radius: 6px;
      } 

      .container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header {
        margin-right: 40px;
        margin-left: -20px;
    }
/*----------------------------------------------main---------------------------------*/
.col-xs-12 {
  min-width: 625px;
  min-height: 910px;
}
  
  #ae{
    margin-top: 50px;
    background-color:transparent;
    border: 0px solid transparent;
}

#tony{
    color: blue;
    font-weight: bold;
    text-shadow: 1px 1px 4px white;
    font-size: 50px;
    text-align: center;
}
#jp{
  font-size: 60px;
}

  .col-xs-12 img{
      margin-top: 20px;
     min-height: 820px; 
      min-width: 1340px;
      transition: transform .5s;
  }

  /*----------------------------------suits----------------------------------*/
  .container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    width: 1390px;

}
.col-xs-4{
min-width: 443px;
min-height: 615px;
margin-top: 20px;
}



.container-fluid .col-xs-4 h3{
color: white;
font-size: 40px;
}

.container-fluid  h1{
color: rgb(181, 187, 219);
text-shadow:2px 2px 3px rgb(38, 38, 206);
font-size: 50px;
font-weight: bold;
text-align: center;
border: 2px solid rgb(109, 104, 104);
background-color: black;
margin-top: -100px;
}


.col-xs-4 img{
height: 550px;
width: 426px;
margin-top:15px ;
transition: transform .5s;
}
/*----------------------------------jarvis----------------------------------------------*/
#jarvisimg  {
    min-width: 625px;
    min-height: 680px;
}

#jarvis{
    min-height: 1900px;  
  }
  
  #jarvisrow{
    margin-top: 95px;
    
  }
  
  .col-sm-12 h2{
      color: rgb(113, 99, 235);
      text-align: center;
      font-weight: bold;
      text-shadow: 2px 2px 3px rgb(201, 201, 226);
     
  }
  
  #jp{
    color: rgb(219, 202, 202);
    text-align: center;
    font-size:65px;
  }
  
  #jh2{
    color: blue;
    font-weight: bold;
    text-shadow: 1px 1px 4px white;
    font-size: 80px;
    text-align: center;
  }
  #jh1{
      color: rgb(192, 181, 181);
      text-align: center;
      font-weight: bold;
      font-size: 70px;
  }
  #img{
   min-height: 450px;
    min-width: 900px;
    margin-top: 55px;
    margin-left: 240px;
  }

  /*-------------------------------------aboutstark-------------------------------*/

  #about_stark{
    min-height: 980px;
    min-width: 1348px;
    border-bottom: 2px solid black;
  }
  
  #abouth2{
    color: rgb(8, 9, 17);
    text-shadow: 2px 3px 4px white;
    font-size: 100px;
    font-weight: bolder;
  }
  .col-sm-12 img{
      min-height: 580px;
      min-width: 960px;
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-top: 0px;
      justify-content: center;
      align-items: center;
      border-radius: 10px;
  }
  .col-sm-12 button{
    color: rgb(88, 88, 192);
    background-color: grey;
    display: inline;
    margin-left:205px;
    margin-right: auto;
  }
  #next{
    margin-left: 840px;
  }

  /*----------------------------------footer----------------------------------------------------*/
  
footer{
    color: rgb(134, 128, 128);
    background-color: rgb(0, 0, 0);
    width: 1400px;
    font-size: 40px;
  
  }
  
  #icon{
      
    display: flex;
    justify-content: center;
    align-items:center;
  
    
  }
  #icon ul {
    position: relative;
    display: flex;
  }
  
  #icon ul li{
    position: relative;
    list-style: none;
    margin: 0 20px;
  cursor: pointer;
    
  }
  
  #icon ul li a{
    text-decoration: none;
    padding: 5px;
  
  }
  
  #icon ul li a .fa{
    font-size: 34px;
    
  }
  
  ol, ul {
    margin-top: 16px;
    margin-bottom: 10px;
  }
  
  p {
    margin: 10px 0px 10px;
    padding: 0px 3px 0px 3px ;
  }
  
  p span {
    margin: 10px 0px 10px;
    padding: 0px 5px 0px 65px ;
  } 

}